<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Left side menu items -->
        <div class="navbar-nav me-auto">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            <a class="nav-link" routerLink="/products">Products</a>
            <a class="nav-link" routerLink="/add-product">Add Product</a>
            <a class="nav-link" routerLink="/cart">Cart</a>
        </div>

        <!-- Right side user dropdown -->
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear mx-1"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li class="dropdown-header">Welcome: Username</li>
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>